body{
  color: #373737;
  margin: 50px;
}

h1{
  font-family: sans-serif;
}

footer{
  position: absolute;
  bottom: 0px;
  margin: 10px;
  height: 
}

#chat{
  position: fixed;
  height: 300px;
  overflow: scroll;
}

.user{
  height: 300px;
  overflow: scroll;
  position: fixed;
  right: 50px;
  top : 40px;
}

#users{
  color: lightgreen;
}

.logg{
  color: grey;
}
